# Label Encoding

In [1]:
cd C:\Users\User\Desktop\Anindita Mitra\Machine Learning\EDA

C:\Users\User\Desktop\Anindita Mitra\Machine Learning\EDA

In [2]:
#Import all the library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#to display the full code
pd.set_option("display.max_rows",None)

In [4]:
#load the dataset
df = pd.read_csv("Fruits_Profit_Categorical.csv")

In [5]:
df.shape

(13, 4)

In [6]:
df.head(10)

  PRODUCTLINE     RATING  ITEMSSOLD  PROFIT
0       Mango  Excellent         30    1800
1       Mango       Good         34    2703
2       Mango       Poor         41   12001
3       Mango  Excellent         52   19000
4       Apple       Good         49   27000
5       Apple       Poor         36    3000
6       Apple  Excellent         29    4000
7       Apple       Good         48    5000
8      Banana       Poor         34    8000
9      Banana  Excellent         27    9000

# Label Encoding

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
df2 = df[['PRODUCTLINE','RATING']]

In [9]:
le = LabelEncoder()

In [10]:
le.fit_transform(df2['PRODUCTLINE'])

array([2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1])

In [11]:
df2["PRODUCTLINE_LabelE"] = le.fit_transform(df2['PRODUCTLINE'])
df2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   PRODUCTLINE     RATING  PRODUCTLINE_LabelE
0        Mango  Excellent                   2
1        Mango       Good                   2
2        Mango       Poor                   2
3        Mango  Excellent                   2
4        Apple       Good                   0
5        Apple       Poor                   0
6        Apple  Excellent                   0
7        Apple       Good                   0
8       Banana       Poor                   1
9       Banana  Excellent                   1
10      Banana       Good                   1
11      Banana       Poor                   1
12      Banana       Good                   1

In [12]:
df["PRODUCTLINE"].value_counts()

Banana    5
Mango     4
Apple     4
Name: PRODUCTLINE, dtype: int64

# Order Encoding

In [13]:
df["RATING"].value_counts()

Good         5
Poor         4
Excellent    4
Name: RATING, dtype: int64

In [14]:
order_label = {"Excellent":3,"Good":2,"Poor":1}

In [15]:
df2["RATING_LabelE"] = df2["RATING"].map(order_label)

In [16]:
df2

   PRODUCTLINE     RATING  PRODUCTLINE_LabelE  RATING_LabelE
0        Mango  Excellent                   2              3
1        Mango       Good                   2              2
2        Mango       Poor                   2              1
3        Mango  Excellent                   2              3
4        Apple       Good                   0              2
5        Apple       Poor                   0              1
6        Apple  Excellent                   0              3
7        Apple       Good                   0              2
8       Banana       Poor                   1              1
9       Banana  Excellent                   1              3
10      Banana       Good                   1              2
11      Banana       Poor                   1              1
12      Banana       Good                   1              2