# Standardization & Normalization

Steps
z = x-μ/σ (sigma)
 1. calculate mean
 2. calculate std deviation
 3. fomulae (x - μ(mean) / σ 
 4. Value is a scale value = zscore

<b>Types of Feature Scaling </b>

1. Min Max Scaler
2. Standard Scalar
3. Max Abs Scalar
4. Robust Scalar
5. Quantile Transformer Scaler
6. Power Transformer Scaler
7. Unit Vector Scaler

In [1]:
pwd

'C:\\Users\\User\\Git-Hup Files\\Feature Eng'

In [2]:
cd C:\Users\User\Desktop\Anindita Mitra\Machine Learning\EDA

C:\Users\User\Desktop\Anindita Mitra\Machine Learning\EDA

In [3]:
# Import Libraries
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [4]:
#load the dataset
df = pd.read_csv("Fruits_Profit.csv")
df.head()

  PRODUCTLINE  Country     Sex  ITEMSSOLD  SALES  Profit
0       Mango  Belgium    Male         30   1800     560
1       Mango  Belgium  Female         34   2703     400
2       Mango  Belgium    Male         41  12001    5642
3       Mango  Belgium  Female         52  19000   18000
4       Apple  Belgium    Male         49  27000   23000

In [5]:
#Considering 4 numeric features
df2 = df[["ITEMSSOLD","SALES","Profit"]]

In [6]:
df2.head()

   ITEMSSOLD  SALES  Profit
0         30   1800     560
1         34   2703     400
2         41  12001    5642
3         52  19000   18000
4         49  27000   23000

In [7]:
#clean the dataset
df3 = df2.fillna(df2.mean())

In [8]:
# Convert data into metrics

In [9]:
X = df3.drop("Profit", axis = 1)
Y = df3["Profit"]

In [10]:
# Split Train n Test
from sklearn.model_selection import train_test_split

In [11]:
 x_train, x_test, y_train, y_test = train_test_split (X,Y,test_size=0.2, random_state=0)

In [12]:
# Standard Scalar
sc = StandardScaler()

In [13]:
sc.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
sc.mean_

array([  36.5, 7950.4])

In [15]:
sc.scale_

array([   7.92779919, 4934.38555851])

In [16]:
x_train.describe()

       ITEMSSOLD         SALES
count  10.000000     10.000000
mean   36.500000   7950.400000
std     8.356634   5201.299073
min    27.000000   1800.000000
25%    31.000000   3500.000000
50%    35.000000   8500.000000
75%    39.750000   9750.000000
max    52.000000  19000.000000

In [17]:
# Transform the stand deviation value on Xtrain and y-train
x_train_sc = sc.transform(x_train)
x_test_sc = sc.transform(x_test)

In [18]:
x_train_sc

array([[-0.06306921,  0.41537087],
       [ 0.56762285,  0.82089248],
       [-0.31534603,  0.01005191],
       [-0.31534603, -1.06343534],
       [ 1.45059174, -0.59792652],
       [-1.19831491,  0.21271139],
       [ 1.95514539,  2.23930616],
       [-0.81989968, -1.24643685],
       [-0.06306921, -1.00324548],
       [-1.19831491,  0.21271139]])

In [19]:
#convert this array into DataFrame
X_train_SC_DF = pd.DataFrame(x_train_sc, columns=["ITEMSSOLD","SALES"])
X_test_SC_DF = pd.DataFrame(x_test_sc, columns=["ITEMSSOLD","SALES"])

In [20]:
X_train_SC_DF.head(10)

   ITEMSSOLD     SALES
0  -0.063069  0.415371
1   0.567623  0.820892
2  -0.315346  0.010052
3  -0.315346 -1.063435
4   1.450592 -0.597927
5  -1.198315  0.212711
6   1.955145  2.239306
7  -0.819900 -1.246437
8  -0.063069 -1.003245
9  -1.198315  0.212711

In [21]:
#round for deciman point only 2 after decimal
X_train_SC_DF.describe().round(2)

       ITEMSSOLD  SALES
count      10.00  10.00
mean        0.00   0.00
std         1.05   1.05
min        -1.20  -1.25
25%        -0.69  -0.90
50%        -0.19   0.11
75%         0.41   0.36
max         1.96   2.24

In [22]:
#Min Max Scaler
mmc = MinMaxScaler()
mmc.fit(x_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [23]:
x_train_mmc = mmc.transform(x_train)

In [24]:
#convert this array into DataFrame
X_train_mmc_DF = pd.DataFrame(x_train_mmc, columns=["ITEMSSOLD","SALES"])

In [25]:
X_train_mmc_DF.head(10)

   ITEMSSOLD     SALES
0       0.36  0.476744
1       0.56  0.593081
2       0.28  0.360465
3       0.28  0.052500
4       0.84  0.186047
5       0.00  0.418605
6       1.00  1.000000
7       0.12  0.000000
8       0.36  0.069767
9       0.00  0.418605

In [26]:
X_train_mmc_DF.describe().round(2)

       ITEMSSOLD  SALES
count      10.00  10.00
mean        0.38   0.36
std         0.33   0.30
min         0.00   0.00
25%         0.16   0.10
50%         0.32   0.39
75%         0.51   0.46
max         1.00   1.00